In [1]:
samsung = 50000
sum = samsung * 10
print(sum)

500000

In [3]:
sum = 298000000000000
now = 50000
per = 15.79
txt = "abcd"
print(sum, type(sum))
print(now, type(now))
print(per, type(per))
print(txt, type(txt))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>
abcd <class 'str'>

In [5]:
s = "hello"
t = "python"

print(s+"! "+t)
print(s+"!",t)

hello! python
hello! python

In [6]:
a = "132"
print(type(a))

<class 'str'>

In [8]:
num_str = "720"
num_int = int(num_str)

print(num_int+1, type(num_int))

721 <class 'int'>

In [9]:
num = 100
txt = str(num)

print(type(txt))

<class 'str'>

In [10]:
str = "15.79"

f = float(str)

print(type(f))

<class 'float'>

In [13]:
m = 48584

sum = m*36

print(sum)

1749024