In [2]:
my_variable = () #빈 튜플

print(type(my_variable))

<class 'tuple'>

In [3]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [7]:
my_tuple = (1)
print(type(my_tuple))

<class 'int'>

In [ ]:
#튜플은 원칙적으로 ()와 함께 정의해야 하지만, 괄호없어도 동작함
t = 1, 2, 3, 4

print(type(t))

<class 'tuple'>

In [11]:
t = ('a','b','c')
t = ('A','b','c')
t = ('A','B','c')

print(t)

('A', 'B', 'c')

In [12]:
interest = ['삼성전자','lg전자','sk하이닉스']

list(interest)

['삼성전자', 'lg전자', 'sk하이닉스']

In [13]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [14]:
#1부터 99까지 정수 중 짝수만 저장된 튜플을 생성

data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)