In [ ]:
#튜플: 여러개의 데이터를 저장할 수 있지만 고정되어 있는 자료형
#튜플 만드는법: 변수 = (데이터,데이터,데이터)
#튜플 사용 이유: 
#- 데이터 보호: 실수로 데이터가 변경될 위험을 방지할 수 있다
#- 성능: 리스트에 비해 더 적은 메모리를 사용하고 빠르다

In [11]:
#딕셔너리: 키와 값을 쌍으로 가지는 사전형태의 자료형
#딕셔너리 만드는 법(key:값,key:값,key:값....)
stock_prices = {
    '삼성전자':81000,
    'sk하이닉스':14000,
    '네이버':350000
}

#대괄호[] - 리스트
#소괄호() - 튜플
#중괄호{} - 딕셔너리

stock_prices

{'삼성전자': 81000, 'sk하이닉스': 14000, '네이버': 350000}

In [3]:
#딕셔너리 순회 명령어
for key in stock_prices.keys():
    print(key)

삼성전자
sk하이닉스
네이버

In [5]:
for value in stock_prices.values():
    print(value)

81000
14000
350000

In [6]:
for key, value in stock_prices.items():
    print(key, value)

삼성전자 81000
sk하이닉스 14000
네이버 350000

In [7]:
#튜플
leg_day = ("스쿼트","런지","레그컬")
leg_day

('스쿼트', '런지', '레그컬')

In [ ]:
leg_day[0] = "벤치" #튜플은 아이템 할당을 제공하지 않음

TypeError: 'tuple' object does not support item assignment

In [ ]:
leg_day.append("숄더프레스") #튜플은 append 허용 x

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
del leg_day[0] #튜플은 삭제도 안됨

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
#딕셔너리
stock_prices

In [24]:
stock_prices = {
    '삼성전자':[81000,81500,82000],
    'sk하이닉스':[140000,141000,139500],
    '네이버':[350000,355000,345000]
}

for key, value in stock_prices.items():
    avg = sum(value) / len(value)
    print(f"#{key} 평균 주식 가격: {int(avg)}")

#삼성전자 평균 주식 가격: 81500
#sk하이닉스 평균 주식 가격: 140166
#네이버 평균 주식 가격: 350000

In [29]:
stocks_info = {
    '삼성전자' : {'최고가': 85000, '최저가': 80000, '현재가': 82000},
    'sk하이닉스' : {'최고가': 145000, '최저가': 139000, '현재가': 140500},
    '네이버' : {'최고가': 360000, '최저가': 340000, '현재가': 350000}
}

for key, value in stocks_info.items():
    print(value['최고가'])
    print(value['최저가'])
    print(value['현재가'])

85000
80000
82000
145000
139000
140500
360000
340000
350000

In [30]:
stocks_info = {
    '삼성전자' : {'최고가': 85000, '최저가': 80000, '현재가': 82000},
    'sk하이닉스' : {'최고가': 145000, '최저가': 139000, '현재가': 140500},
    '네이버' : {'최고가': 360000, '최저가': 340000, '현재가': 350000}
}

for key, value in stocks_info.items():
    max_value = value['최고가']
    min_value = value['최저가']
    print(f"{key} - 최고가: {max_value}, 최저가: {min_value}")

삼성전자 - 최고가: 85000, 최저가: 80000
sk하이닉스 - 최고가: 145000, 최저가: 139000
네이버 - 최고가: 360000, 최저가: 340000